<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>


<div class="d-flex flex justify-content mb-2">

<lucide-angular [img]="package" class="my-icon" size="40"></lucide-angular>
  <div class="container-fluid">
    
    <div class="row justify-content-evenly" style="margin-bottom: -20px;">

      <div class="d-flex col-6 titulo-pagina">
        <span>
          Produtos
        </span>
      </div>


      <div class="col-6 d-flex justify-content-end botao-novo-produto">
        <p-button (click)="abrirNovo()" label="+ Novo Produto" />
      </div>
    </div>

    <div class="row">
      <div class=" col-0 d-flex cde">
        <span>Controle de Estoque</span>
      </div>
    </div>
  </div>


  <p-dialog [(visible)]="exibirModal" [header]="produtoSelecionado() ? 'Editar Produto' : 'Novo Produto'" [modal]="true"
    [draggable]="false" [resizable]="false" [style]="{ 
      width: '580px', height: '575px',

      }" styleClass="liquid-modal" [breakpoints]="{'960px': '95vw'}">

    @if (exibirModal()) {
    <app-produto-cadastro [produtoEdicao]="produtoSelecionado()" (fecharModal)="aoFecharModal()">
    </app-produto-cadastro>
    }
  </p-dialog>


</div>





<br>

<p-card class="mb-3" [style]="{ 'border-radius': '8px', 'background-color': 'white', 'box-shadow': '0 1px 2px ' }">
  <div class="table-responsive ">
    <div class="card">
      <p-table [value]="produtos()" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="8" sortField="id" [sortOrder]="-1">
        <ng-template #header>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor Unt.</th>
          <th>Total em Estoque</th>
            <th>Marca</th>
             <th>Descrição</th>
            <th class="text-center">Ações</th>
          </tr>
        </ng-template>
        <ng-template #body let-product>
          <tr [ngClass]="rowClass(product)" [ngStyle]="rowStyle(product)">
            <td>{{ product.id }}</td>
            <td>{{ product.nome }}</td>
            <td>
              <p-badge [value]="product.quantidade | number" [severity]="stockSeverity(product)" />
            </td>
            <td>R$ {{ product.valor | number:'1.2-2' }}</td>
            <td class="text-primary font-weight-bold">
              R$ {{ (product.quantidade * product.valor) | number:'1.2-2' }}
            </td>
            <td>{{ product.marca?.nome }}</td>
            <td>{{ product.descricao }}</td>
            <td class="h-auto w-auto text-center ">
              <button class="btn btn-sm btn-danger me-1" (click)="excluirProduto(product)">
                <lucide-angular [img]="Trash2Icon" class="my-icon" size="18"></lucide-angular>
              </button>
              <button class="btn btn-sm btn-info text-white" (click)="abrirEdicao(product)">
                <lucide-angular [img]="SquarePenIcon" class="my-icon" size="18"></lucide-angular>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
