<!-- Container do formulário de cadastro -->
<div class="cadastro-container w-full">
  <!-- Formulário reativo: [formGroup] vincula ao FormGroup do componente -->
  <form [formGroup]="formPessoa" (ngSubmit)="onSubmit()" class="w-full">

    <!-- Campo Nome -->
    <div class="field col-12" style="margin-bottom: 10px;">
      <label for="nome">Nome</label>
      <!-- formControlName vincula o input ao controle do FormGroup -->
      <input pInputText id="nome" formControlName="nome" 
        placeholder="Ex: Matheus" [style]="{ width: '100%' }" />
    </div>

    <!-- Campo CPF/CNPJ -->
    <div class="field col-12" style="margin-bottom: 10px;">
  <label for="cpf">CPF/CNPJ</label>
  <input 
    pInputText 
    id="cpf" 
    formControlName="cpf" 
    placeholder="000.000.000-00 ou 00.000.000/0000-00" 
    (input)="formatarCpfCnpj($event)"
    maxlength="18" 
    [style]="{ width: '100%' }" />
</div>

    <!-- Campo Telefone -->
    <div class="field col-12" style="margin-bottom: 10px;">
  <label for="telefone">Telefone</label>
  <p-inputMask 
    id="telefone" 
    formControlName="telefone" 
    mask="(99) 99999-9999" 
    placeholder="(99) 99999-9999"
    [style]="{ width: '100%' }">
  </p-inputMask>
</div>


    <!-- Campo Endereço -->
    <div class="field col-12" style="margin-bottom: 10px;">
      <label for="endereco">Endereço</label>
      <!-- formControlName vincula o input ao controle do FormGroup -->
      <input pInputText id="endereco" formControlName="endereco" 
        placeholder="Ex: Rua Exemplo, 123" [style]="{ width: '100%' }" />
    </div>

    <!-- Campo função -->
    <div class="col-12" style="margin-bottom: 10px;" >
        <label for="funcao">Função</label>
        <select id="funcao" class="form-select" formControlName="funcao" style="width: 100%;">
        <option [value]="'ADMIN'">Administrador</option>
        <option [value]="'TECNICO'">Técnico</option>
        <option [value]="'FINANCEIRO'">Financeiro</option>
        <option [value]="'FORNECEDOR'">Fornecedor</option>
        <option [value]="'CLIENTE_EMPRESA'">Cliente empresa</option>
        <option [value]="'CLIENTE_PF'">Cliente Fisico</option>
        </select>
      </div>
    










    <!-- Botões de ação -->
    <div style="margin-top: 20px;">
      <!-- Botão Salvar: desabilitado se formulário é inválido -->
      <p-button label="Salvar" type="submit" [disabled]="formPessoa.invalid" class="btn-save">
            </p-button>
      
      <!-- Botão Cancelar: emite evento para fechar o modal -->
      <button pButton type="button" label="Cancelar" 
        class="p-button-secondary" (click)="fecharModal.emit()" 
        style="margin-left: 10px;"></button>
    </div>

  </form>
</div>