<div class="cadastro-container w-full">
  <form [formGroup]="formProduto" (ngSubmit)="onSubmit()" class="w-full">

     <div class="field col-12" style="margin-bottom: 10px;">
      <label for="nome">Nome do Produto</label>
      <input pInputText id="nome" formControlName="nome" placeholder="Ex: Firewall" [style]="{ width: '100%' }" />
    </div>

    <div class="field col-12" style="margin-bottom: 10px;">
      <label for="descricao">Descrição</label>
      <input pInputText id="descricao" formControlName="descricao" placeholder="Descrição do produto"
        [style]="{ width: '100%' }" />
    </div>

   
   <div class="col-12">
  <label for="marca" class="form-label">Marca</label>
  <div class="input-group" >
    <select
      id="marca"
      class="form-select custom-select"
      [(ngModel)]="marcaSelecionada"
      [ngModelOptions]="{ standalone: true }"
      required
    >
      <option value="" disabled selected>Selecione uma marca</option>

      <option *ngFor="let m of listarMarcas" [ngValue]="m">
        {{ m.nome }}
      </option>

    </select>
    <button 
      type="button"
      class="btn btn-success"
      (click)="irParaCadastroMarca()">
      +
    </button>
<p-dialog 
  [(visible)]="exibirModalMarca"
  header="Nova Marca"
  [modal]="true"
  [style]="{ width: '400px' }"
  [closable]="true"
  [dismissableMask]="false"
  appendTo="body"
  [baseZIndex]="2000">

<app-marca-cadastro 
  [redirecionarAposSalvar]="false"
  (fecharModal)="fecharModalMarca()">
</app-marca-cadastro>

</p-dialog>
    
  </div>
</div>

    
    <div class="container" style="padding-right: 30px; margin-left: 8px;">

      <div class="row">

        <div class="col-6">

          <div class="field col-12">
            <label for="quantidade">Quantidade</label>
            <p-inputNumber id="quantidade" formControlName="quantidade" placeholder="Ex: 10, 25, 50" [min]="0" style="width: 100%">
            </p-inputNumber>
          </div>

        </div>
        <div class="col-6">
          <div class="field col-12">
            <label for="valor">Valor</label>
            <p-inputNumber [style]="'text-align:right'" formControlName="valor" mode="currency" currency="BRL" locale="pt-BR" placeholder="R$ 0,00"
              style="width: 100%">
            </p-inputNumber>
          </div>
        </div>

      </div>

    </div>


    <br>
    <!-- AÇÕES -->
    <div class="container">
      <div class="row justify-content-end">
        
        <div class="col-5">
          <div class="form-actions w-full">
            <p-button label="Cancelar" [text]="true" severity="secondary" (click)="fecharModal.emit()">
            </p-button>

            <p-button label="Salvar" type="submit" [disabled]="formProduto.invalid" class="btn-save">
            </p-button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>