<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>



<div class="d-flex flex justify-content mb-2">
 <lucide-angular [img]="tag" class="my-icon" size="37"></lucide-angular>
  <div class="container-fluid">
   
    <div class="row justify-content-evenly" style="margin-bottom: -20px;">

      <div class="d-flex col-6 titulo-pagina">
        <span>
          Marcas
        </span>
      </div>


      <div class="col-6 d-flex justify-content-end botao-nova-marca">
        <button pButton type="button" label="+ Nova Marca" class="p-button-primary" (click)="abrirNovo()"></button>
      </div>
    </div>

    <div class="row">
      <div class=" col-0 d-flex cde">
        <span>Controle de Marcas</span>
      </div>
    </div>
  </div>


  <!-- Modal do PrimeNG para cadastro/edição -->
  <!-- [visible]="exibirModal()" = controla se o modal está aberto ou fechado
       (visibleChange)="aoFecharModal()" = acionado quando o usuário fecha o modal
       [header] = título dinâmico baseado se é novo ou edição -->
  <p-dialog [visible]="exibirModal()" (visibleChange)="aoFecharModal()" 
    [header]="marcaSelecionada() ? 'Editar Marca' : 'Nova Marca'" 
    [modal]="true" [style]="{width: '50vw'}">
    <!-- Componente filho de cadastro/edição 
         [marcaEdicao]="marcaSelecionada()" = passa a marca para editar (ou null para novo)
         (fecharModal)="aoFecharModal()" = evento para fechar o modal ao salvar -->
    <app-marca-cadastro [marcaEdicao]="marcaSelecionada()" (fecharModal)="aoFecharModal()"></app-marca-cadastro>
  </p-dialog>
</div>
  
<br>

<p-card class="mb-3" [style]="{ 'border-radius': '8px', 'background-color': 'white', 'box-shadow': '0 1px 2px ' }">
  <div class="table-responsive ">
    <div class="card">
      <p-table [value]="marcas()" [tableStyle]="{ 'min-width': '50rem' }"  [scrollable]="true" scrollHeight="496px">
        <ng-template #header>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th class="text-center">Ações</th>
          </tr>
        </ng-template>
        <ng-template #body let-product>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.nome }}</td>
            <td class="h-auto w-auto text-center ">
              <!-- <button class="btn btn-sm btn-danger me-1" (click)="excluirProduto(product)">
                <lucide-angular [img]="Trash2Icon" class="my-icon" size="18"></lucide-angular>
              </button> -->
              <button class="btn btn-sm btn-info text-white" (click)="abrirEdicao(product)">
                <lucide-angular [img]="SquarePenIcon" class="my-icon" size="18"></lucide-angular>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>