.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 320px;
  background: #212529;
  color: white;
  position: fixed;
  height: 100vh;
}

.content {
  margin-left: 320px;
  padding: 2rem;
  flex: 1;
}